extends ./partials/_layout.jade

block content
  h1 Welcome to the Northwind DataPlex Prime!
  h3 We're pleased that you've elected to join us!
  form(method="POST", action="newUser")

    label(for="username") Username
    input(type="text", name="username")

    label(for="password") Password
    input(type="password", name="password")

    label(for="passwordConfirm") Password
    input(type="password", name="passwordConfirm")

    input(type="submit", value="Create Account")
